.center {
    text-align: center;
}

.text-color-3 {
    color: #0800F7;
}

.badge.even-larger-badge {
    font-size: 1.1em;
}

body {
    overflow: scroll;
}

.nav {
    margin-bottom: 2rem;
}

.nav-link {
    padding: 0.7em;
    font-size: large;
}

.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    width: 100%;
    object-fit: cover;
    height: 15vw;
    width: 20vw;
}