.center {
    text-align: center;
}

.text-color-3 {
    color: #0800F7;
}

body {
    overflow: scroll;
}

.nav {
    margin-bottom: 2rem;
}

.nav-link {
    padding: 0.3em;
    font-size: large;
}

.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    width: 100%;
    object-fit: cover;
    height: 15vw;
}

.card-img-left {
    width: 100%;
    object-fit: cover;
    height: 30vw;
}

.img {
    transition: opacity var(--transition-base-timing) var(--transition-base-easing);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-dark-gray);
    opacity: 1;
}