body{
    font-family: 'Magra', sans-serif;
    background-color: #BDE6F1;
    }
    #title{
      background-color: #CDF2CA;
      color: #fff;
    
    }
    
    h1{
      font-family: 'Magra', sans-serif;
      font-size: 3.1rem;
    }
    h2 {
      font-family: 'Magra', sans-serif;
      font-size: 2.5rem;
      line-height: 1.5;
    }
    h3{
      font-family: 'Magra', sans-serif;
      color: #000000;
      font-size: 1.5rem;
      line-height: 1.5;
    }
    h4{
      font-family: 'Magra', sans-serif;
      color: #000000;
      font-size: 0.5rem;
      line-height: 1.5;
    }
    h5 {
      font-family: 'Magra', sans-serif;
      font-size: 1.5rem;
      line-height: 1.5;
      color: #fff;
    }
    p{
      color: #000000;
      font-family: 'Magra', sans-serif;
    }
    .container-fluid{
      padding: 3% 15%;
    }
    
    /* Navigation Bar */
    .navbar{
      padding-bottom: 1.25rem;
    }
    .navbar-brand{
      font-size: 2.5rem;
      font-weight: bold;
    }

